ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.menubar {
    background-color: #333;
}

.Title {
    color: #fff;
}


.active {
  background-color: #4CAF50;
}

.kaput {
    background-color: #333;
}